header {
  background: url(/Assets/images/img-2732x1532-hero-static-dt-2x.png) no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: -999;
}
header img.backgrd-headr {
  width: 100%;
  height: 155px;
}
header .head .logo {
  margin: 18px 0;
}
header .head .logo img.Eye-Backgrd {
  width: 169px;
  height: 59px;
}
header .head .main-nav {
  margin: 18px 0;
}
header .head .main-nav ul.nav li.nav-item {
  width: 128pt;
  height: 27pt;
}
header .head .main-nav ul.nav li.nav-item a.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
header .head .main-nav ul.nav li.nav-item a.nav-link:hover {
  color: #A4DBE8;
  -webkit-animation: Auto-Animate;
          animation: Auto-Animate;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
header .headBanner {
  margin: 140px 0;
  float: right;
}
header .headBanner .Bnr-Evop {
  font-size: 57px;
  font-weight: bold;
  text-transform: Uppercase;
  color: #E35205;
  text-align: left;
  font-family: "Barlow Condensed", sans-serif;
}
header .headBanner p {
  width: 528px;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 32.5px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.975px;
}
header .headBanner .btn-headbnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .headBanner .btn-headbnr .btn.Stay-inform {
  color: #FFFFFF;
  font-size: 9.5px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  border: 4px solid #E35205;
  background-color: black;
  border-radius: 0px;
}
header .scol-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .scol-cnt .scroll {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 7px;
  text-transform: uppercase;
  padding: 13px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
header .scol-cnt .scroll::after {
  content: " ";
  background: url(/Assets/images/icon-13x11-arrow-down.png) no-repeat;
  background-color: white;
}

.contentone {
  background-color: #000000;
  padding: 50px 0 17px;
}
.contentone .cntr-rect {
  background-color: rgba(0, 0, 0, 0.8509803922);
  border: 1px solid #FFFFFF;
  max-width: 865px;
  margin: 15px auto;
  padding: 35px;
}
.contentone .cntr-rect .lft-cnt h3 {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 28px;
  text-align: left;
  line-height: 36px;
}
.contentone .cntr-rect .lft-cnt h3 sup {
  font-size: 12px;
  top: -0.9em;
}
.contentone .cntr-rect .lft-cnt p {
  font-size: 18px;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  line-height: 24px;
}
.contentone .cntr-rect .lft-cnt p sup {
  font-size: 8px;
  top: -0.9em;
}
.contentone .cntr-rect .lft-cnt p small {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.contentone .cntr-rect .lft-cnt a.examine-cause-btn {
  border: 4px solid #E35205;
  padding: 3px 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 19px;
  font-weight: lighter;
  letter-spacing: 0.57px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}
.contentone .cntr-rect .lft-cnt a.examine-cause-btn:hover {
  background-color: #E35205;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.contentone .cntr-rect .rght-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contentone .cntr-rect .rght-cnt img.percent-of-patients {
  width: 100%;
  height: 186px;
}

.contenttwo {
  background-color: #000000;
  padding: 17px 0;
}
.contenttwo .cntr-rect {
  background-color: rgba(0, 0, 0, 0.8509803922);
  border: 1px solid #FFFFFF;
  max-width: 865px;
  margin: 15px auto;
  padding: 35px;
}
.contenttwo .cntr-rect .lft-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contenttwo .cntr-rect .lft-cnt img.evap-in-ded {
  width: 100%;
  height: 160px;
}
.contenttwo .cntr-rect .rght-cnt h3 {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 28px;
  text-align: left;
  line-height: 36px;
}
.contenttwo .cntr-rect .rght-cnt h3 sup {
  font-size: 11px;
  top: -0.7em;
}
.contenttwo .cntr-rect .rght-cnt p {
  font-size: 18px;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  line-height: 26px;
  font-weight: normal;
}
.contenttwo .cntr-rect .rght-cnt p sup {
  font-size: 10px;
  top: -0.9em;
}
.contenttwo .cntr-rect .rght-cnt a.explre-imapct-btn {
  border: 4px solid #E35205;
  padding: 3px 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 19px;
  font-weight: lighter;
  letter-spacing: 0.57px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}
.contenttwo .cntr-rect .rght-cnt a.explre-imapct-btn:hover {
  background-color: #E35205;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contentThee {
  background-color: #000000;
  padding: 17px 0 50px;
}
.contentThee .cntr-rect {
  background-color: rgba(0, 0, 0, 0.8509803922);
  border: 1px solid #FFFFFF;
  max-width: 865px;
  margin: 15px auto;
  padding: 40px;
}
.contentThee .cntr-rect .lft-cnt h3 {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 28px;
  text-align: left;
  line-height: 36px;
}
.contentThee .cntr-rect .lft-cnt h3 sup {
  font-size: 12px;
  top: -0.9em;
}
.contentThee .cntr-rect .lft-cnt p {
  font-size: 18px;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  line-height: 24px;
}
.contentThee .cntr-rect .lft-cnt a.rethink-Btn {
  border: 4px solid #E35205;
  padding: 3px 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 19px;
  font-weight: lighter;
  letter-spacing: 0.57px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}
.contentThee .cntr-rect .lft-cnt a.rethink-Btn:hover {
  background-color: #E35205;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.contentThee .cntr-rect .rght-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contentThee .cntr-rect .rght-cnt img.without-addressing-evap {
  width: 100%;
  height: 150px;
}

footer {
  padding: 37px 0;
  background-color: #1C1C1C;
}
footer .foot-top p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #FFFFFF;
  letter-spacing: -0.28px;
  line-height: 18px;
  width: 100%;
}
footer .foot-botm {
  padding: 17px 0;
}
footer .foot-botm .ft-logo img.ftr-logo {
  margin-bottom: 1rem;
}
footer .foot-botm .ft-logo p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 24px;
}
footer .foot-botm .ft-lnks ul.rght-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .foot-botm .ft-lnks ul.rght-links li {
  margin-left: 10px;
}
footer .foot-botm .ft-lnks ul.rght-links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 18px;
}
