header{
    background: url(/Assets/images/img-2732x1532-hero-static-dt-2x.png) no-repeat;
    //background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // height:766px;
    position: relative;
    z-index: -999;
    img.backgrd-headr{
        width: 100%;
        height:155px;
    }
    .head{
       .logo{
        margin: 18px 0;
        img.Eye-Backgrd{
           width: 169px;
           height:59px;
        }
       }   
            .main-nav{
                margin: 18px 0;
                ul.nav{
                    li.nav-item{
                        width: 128pt;
                        height:27pt;
                        a.nav-link{
                            font-family: $source-sans-pro;
                            font-weight: bold;
                            color: $white-FFFFFF;
                            text-align: center;
                                                
                        }
                        a.nav-link:hover{
                            color: #A4DBE8;
                            animation: Auto-Animate;
                            animation-duration: 0.3s;
                            transition-timing-function: ease-in;
                        }
                    }
                }
            }
        
        
    }
    .headBanner{
        margin: 140px 0;
        // position: relative;
        // top: 220px;
     float: right; 
        // left: 104px;
        .Bnr-Evop{
            font-size: 57px;
            font-weight: bold;
            // letter-spacing: 3.24;
            text-transform: Uppercase;
            color: #E35205;
            text-align: left;
            font-family: $Barlow-condensed;
        }
        p{
            width:528px;
           margin-bottom: 0;
            color: $white-FFFFFF;
            font-family: $Barlow-condensed;
            font-weight: bold;
            font-size: 32.5px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.975px;
        }
        .btn-headbnr{
            display: flex;
    justify-content: flex-end;
            .btn.Stay-inform{
                color: $white-FFFFFF;
                font-size: 9.5px;
                font-family: $Barlow-condensed;
                font-weight: bold;
                border:4px solid $orange-E35205;
                background-color: black;
                border-radius: 0px;
            }
        }
    }
.scol-cnt{
    display: flex;
    justify-content: center;
    // width: 70px;
    //     height: 70px;
    .scroll{
        color: $white-FFFFFF;
        font-family: $source-sans-pro;
        font-size: 7px;
        text-transform: uppercase;
        padding: 13px;
        
        border: 2px solid $white-FFFFFF;
        border-radius: 50%;
        
    }
    .scroll::after{
        content: " ";
        background: url(/Assets/images/icon-13x11-arrow-down.png) no-repeat;
        background-color: white;

    }
}   
    
}
